{% extends "base/base.html" %}

{% block title %} Видео {%endblock%}

{% block content %}
<div class="list-group list-group-flush">
    <div class="list-group-item">
        <div class="row p-1">
          <div class="col fw-bold" role="button" onclick="onSortVideosByFieldClickListener('name')">Название</div>
          <div class="col fw-bold" role="button" onclick="onSortVideosByFieldClickListener('created_at')">Загружено</div>
          <div class="col fw-bold" role="button" onclick="onSortVideosByFieldClickListener('updated_at')">Обновлено</div>
        </div>
    </div>
    {% for video in videos %}
    <div class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#descriptionCollapse{{loop.index}}">
        <div class="row">
            <div class="col fw-bold">{{ video.name }}</div>
            <div class="col">{{video.created_at.strftime("%d/%m/%Y %H:%M")}}</div>
            <div class="col">{{video.updated_at.strftime("%d/%m/%Y %H:%M")}}</div>
        </div>
    </div>
    <div class="modal fade" id="descriptionCollapse{{loop.index}}" tabindex="-1" aria-labelledby="descriptionCollapse{{loop.index}}" aria-hidden="true">
        {% include 'video_manager/detail_modal.html'%}
    </div>
    {% endfor %}
</div>
{% endblock %}