{% extends "base/base.html" %}

{% block title %}Удаление нейросети "{{ net.name }}"{% endblock %}
{% block content %}
<h1>Удаление нейросети "{{ net.name }}"</h1>
<p>
    Вы уверены, что хотите удалить нейросеть "<a href={{net.get_absolute_url()}}>{{ net.name }}</a>"?
    Это действие будет невозможно отменить!
</p>
<a href="{{ url('network_training:list_trained_networks') }}">Назад</a>
<form method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button type="submit">Удалить</button>
</form>
{% endblock %}