{% extends "base/base.html" %}

{% block title %}Удаление нейросети "{{ net.name }}"{% endblock %}
{% block content %}
<h2>
    Вы действительно хотите удалить нейросеть "<a href={{net.get_absolute_url()}}>{{ net.name }}</a>"?
</h2>
<div class="list-group mb-3">
    {% include 'model_inference/list_results_frame.html'%}
</div>

<form method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <a href="{{ net.get_absolute_url() }}" class="btn btn-primary">Назад</a>
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
{% endblock %}