{% extends "base/base.html" %}

{% block title %}Обучение{% endblock %}
{% block content %}
<div>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url('network_training:start_dlc_network_training') }}">Обучить DLC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url('network_training:start_sleap_network_training') }}">Обучить SLEAP</a>
        </li>
    </ul>
    <h3>Нейросети:</h3>
    <ul class="list-group list-group-flush">
    {% for net in networks %}
    <a class="list-group-item" href="{{net.get_absolute_url()}}">
        {{ net.name }}
    </a>
    {% endfor %}
    </ul>
</div>
{% endblock %}