{% extends "base/base.html" %}

{% block title %}Обучение{% endblock %}
{% block content %}
<div>
    <p>
        <a href="{{ url('network_training:start_dlc_network_training') }}">Обучить DLC</a>
        <a href="{{ url('network_training:start_sleap_network_training') }}">Обучить SLEAP</a>
    </p>
    
    {% for net in networks %}
    <p>
        <a href="{{ url('network_training:detail_trained_network', kwargs={'id':net.pk}) }}">{{ net.name }}</a>
    </p>
    {% endfor %}
</div>
{% endblock %}