{% extends "base/base.html" %}

{% block title %}Нейросеть "{{ net.name }}"{% endblock %}
{% block content %}
<div>
    <h1>
        {{ net.name }}
    </h1>
    <p>
        Обучение начато: {{ net.started_training_at }}
    </p>
    <p>
        Обучение окончено: 
        {% if net.finished_training_at %}
            {{ net.finished_training_at }}
        {% else %}
            ещё не окончено
        {% endif %}
    </p>
    <p>
        Кодировщик: {{ net.backbone_model }}
    </p>
    {% if net.backbone_model == "pretrained_encoder" %}
    <p>
        Предобученный кодировщик: {{ net.pretrained_encoder }}
    </p>
    {% endif %}
    <p>
        Доля тестовых данных: {{ net.test_fraction }}
    </p>
    <p>
        Количество эпох: {{ net.num_epochs }}
    </p>
    <p>
        Скорость обучения: {{net.learning_rate}}
    </p>
    <p>
        Плотность нормального распределения для выходного слоя: {{ net.heads_sigma }}
    </p>
    <p>
        Шаг в выходном слое: {{ net.heads_output_stride }}
    </p>
    <p>
        Датасет: <a href="{{ url('train_datasets_manager:detail_train_dataset', kwargs={'id': net.train_dataset.pk }) }}">{{ net.train_dataset.name }}</a>
    </p>
    <a href="{{ url('network_training:delete_trained_network', kwargs={'neural_network_type': 'SLEAP', 'id': net.pk})}}">Удалить</a>
</div>
<div id="all-canvases-container"></div>
{% with neural_network_type='SLEAP'%}
    {% include 'plots/training_stats.html'%}
{% endwith %}
{% endblock %}