{% extends "base/base.html"%}
{% block title %} Главная страница {% endblock %}

{%block content%}
<h1>Добро пожаловать в Animal Keypoint Detection!</h1>
<p class="h5">
    На сегодняшний день задача разметки ключевых точек является важной задачей компьютерного зрения и машинного обучения и имеет практическое применение в различных областях. Особый интерес представляет задача разметки ключевых точек на теле животного ввиду своей сложности. Различные животные, в отличие, например, от людей, могут иметь совершенно различные строения тел, что приводит, во-первых, к сложности определения частей тела в кадрах, а во-вторых, к низкому количеству данных для обучения для каждого вида животного. Результаты, получаемые при решении задачи, используются, в частности, при анализе поз животных, что необходимо для оценки их поведения. 
</p>
{% endblock%}